#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.good-weather {
  background: linear-gradient(45deg, var(--accent), var(--secondary-dark));
}

.bad-weather {
  background: linear-gradient(45deg, var(--secondary-dark), var(--primary-light) 150%);
}


main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
  width: 100%;
  padding: 5%;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1em;
}